.javani{
    width: 100%;
    height: 300px;
    background-color: #ef4054;
    padding: 20px 2px;
    border-radius: 16px;

}
.javani .swiper {
    width: 100%;
    height: 100%;
}

.javani .swiper-slide {


    background: #fff;

}
.javani .swiper-slide:first-child{
    background-color: transparent;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}
.javani .swiper-slide:first-child img:first-child{
    width: 92px;
    height: 77px;
}
.javani .swiper-slide:first-child img:nth-child(2){
    width: 145px;
    height: 115px;
}
.javani .swiper-slide:first-child a{
    text-decoration:none ;
    color: white;
}
.javani .swiper-slide:nth-child(2){
    border-radius: 0 8px 8px 0;
}
.javani .swiper-slide:last-child{
    border-radius: 8px 0 0 8px;
}
.javani  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}